Source: ros-jazzy-mapviz
Section: misc
Priority: optional
Maintainer: Southwest Research Institute <swri-robotics@swri.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, freeglut3-dev, image-transport-tools, libcv-bridge-dev, libgeometry-msgs-dev, libglew-dev, libimage-transport-dev, libqt5core5a, libqt5opengl5-dev, libstd-srvs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, libxi-dev, libxmu-dev, libyaml-cpp-dev, pkg-config, pluginlib-dev, python3-cv-bridge, python3-geometry-msgs, python3-std-srvs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, qt5-qmake, ros-environment, ros-geometry-msgs, ros-jazzy-mapviz-interfaces, ros-jazzy-marti-common-msgs, ros-jazzy-rclcpp, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-cpp, ros-jazzy-swri-math-util, ros-jazzy-swri-transform-util, ros-std-srvs, ros-jazzy-ros-workspace
Homepage: https://github.com/swri-robotics/mapviz
Standards-Version: 3.9.2

Package: ros-jazzy-mapviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freeglut3-dev, image-transport-tools, libcv-bridge-dev, libgeometry-msgs-dev, libglew-dev, libimage-transport-dev, libqt5core5a, libqt5opengl5, libstd-srvs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, libxi-dev, libxmu-dev, libyaml-cpp-dev, pluginlib-dev, python3-cv-bridge, python3-geometry-msgs, python3-std-srvs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-geometry-msgs, ros-jazzy-mapviz-interfaces, ros-jazzy-marti-common-msgs, ros-jazzy-rclcpp, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-cpp, ros-jazzy-swri-math-util, ros-jazzy-swri-transform-util, ros-std-srvs, ros-jazzy-ros-workspace
Description: mapviz
