Source: ros-jazzy-mapviz-plugins
Section: misc
Priority: optional
Maintainer: Southwest Research Institute <swri-robotics@swri.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, image-transport-tools, libament-index-cpp-dev, libcv-bridge-dev, libimage-transport-dev, libmap-msgs-dev, libnav-msgs-dev, libqt5core5a, libqt5opengl5-dev, libsensor-msgs-dev, libstd-msgs-dev, libstereo-msgs-dev, libtf2-dev, libvisualization-msgs-dev, pluginlib-dev, python3-cv-bridge, python3-map-msgs, python3-nav-msgs, python3-sensor-msgs, python3-std-msgs, python3-stereo-msgs, python3-tf2, python3-visualization-msgs, qt5-qmake, ros-environment, ros-jazzy-gps-msgs, ros-jazzy-mapviz, ros-jazzy-marti-common-msgs, ros-jazzy-marti-nav-msgs, ros-jazzy-marti-sensor-msgs, ros-jazzy-marti-visualization-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-swri-image-util, ros-jazzy-swri-math-util, ros-jazzy-swri-route-util, ros-jazzy-swri-transform-util, ros-map-msgs, ros-nav-msgs, ros-sensor-msgs, ros-std-msgs, ros-stereo-msgs, ros-visualization-msgs, ros-jazzy-ros-workspace
Homepage: https://github.com/swri-robotics/mapviz
Standards-Version: 3.9.2

Package: ros-jazzy-mapviz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, image-transport-tools, libament-index-cpp-dev, libcv-bridge-dev, libimage-transport-dev, libmap-msgs-dev, libnav-msgs-dev, libqt5core5a, libqt5opengl5, libsensor-msgs-dev, libstd-msgs-dev, libstereo-msgs-dev, libtf2-dev, libvisualization-msgs-dev, pluginlib-dev, python3-cv-bridge, python3-map-msgs, python3-nav-msgs, python3-sensor-msgs, python3-std-msgs, python3-stereo-msgs, python3-tf2, python3-visualization-msgs, ros-jazzy-gps-msgs, ros-jazzy-mapviz, ros-jazzy-marti-common-msgs, ros-jazzy-marti-nav-msgs, ros-jazzy-marti-sensor-msgs, ros-jazzy-marti-visualization-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-swri-image-util, ros-jazzy-swri-math-util, ros-jazzy-swri-route-util, ros-jazzy-swri-transform-util, ros-map-msgs, ros-nav-msgs, ros-sensor-msgs, ros-std-msgs, ros-stereo-msgs, ros-visualization-msgs, ros-jazzy-ros-workspace
Description: Common plugins for the Mapviz visualization tool
